body {
    background-color: Aqua;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-size: 
  }
  h3 {
    color: black;
    text-align: center;
    font-size: 60px;    
  }
  p {
    font-family: verdana;
    font-size: 40px;
  }
